[submodule "pytorch"]
	path = pytorch
	url = https://github.com/pytorch/pytorch
[submodule "sort"]
	path = sort
	url = https://github.com/michae-lzhou/sort.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/michae-lzhou/yolov5.git
[submodule "OpenCV_Camera_Calibration_Undistort_Video"]
	path = OpenCV_Camera_Calibration_Undistort_Video
	url = https://github.com/jeeho-ahn/OpenCV_Camera_Calibration_Undistort_Video.git
